<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/addHouse.css' %}">
</head>
<body>
  <center> <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fields"><label for="owner"> Owner Name:</label>{{form.owner}} </div>   
    <div class="fields"><label for="contact">Contact:</label> {{form.contact}} </div>  
    <div class="fields"><label for="price">Price:</label>{{form.price}}  </div> 
    <div class="fields"><label for="apartment"> Apartment:</label> {{form.apartment}} </div>  
    <div class="fields"><label for="address"> Address:</label>  {{form.address}} </div> 
    {{ form.userid }}
     {{ form.img1 }}
    {{ form.img2 }} {{form.img3}}
    <input type="submit" value="add">
  </form></center>
    </body>
</html>