{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/addHouse.css' %}">
</head>
<div align="center">
    <br>
    <h2 align="center" style="font-family: 'Times New Roman';">CHANGE PASSWORD</h2>
<form method="post">
    {% csrf_token %}
    {% if form %}
    <label for="password">Enter password</label>
    {{form.password}} <BR>
    <label for="reppass">Confirm your password</label>
    {{form.reppass}} <br>
    {% endif %}
    <input type="submit" value="Change">
</form>
</div>
{% endblock %}